<div class="loading-screen">
  <svg
    viewBox="0 0 100 100"
    class="logo-icon"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="frame"
      d="M 50 5 L 89 27.5 V 72.5 L 50 95 L 11 72.5 V 27.5 Z"
    />
    <path class="ak-line a-stem" d="M 50 20 L 22 33 V 70" />
    <path class="ak-line a-bar" d="M 22 51 H 42" />
    <path class="ak-line spine" d="M 50 20 V 85" />
    <path class="ak-line k-up" d="M 50 50 L 78 33" />
    <path class="ak-line k-down" d="M 50 50 L 78 70" />
  </svg>
</div>
