.loading-screen {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  overflow: hidden;
  background-color: var(--bg);
}

.loading-text {
  color: var(--fg);
  font-size: calc(0.7rem + clamp(0.7dvh, 0.7dvw, 99dvw));
  text-transform: uppercase;
  letter-spacing: 0.35em;
  opacity: 0.7;
}
