.menu-overlay {
  position: fixed;
  top: 8vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 98;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-content {
  background: var(--fg);
  display: flex;
  flex-direction: column;
  border-radius: calc(0.7rem + clamp(1.4vh, 0.7vw, 99vw));
  padding: calc(0.5rem + clamp(2vh, 1vw, 99dvw));
}

.menu-link {
  font-size: clamp(4vh, 3vw, 99vh);
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bg);
  pointer-events: auto;
  opacity: 0;
  visibility: hidden;
}
