<div class="menu-overlay">
  <div class="menu-content">
    <a href="#intro" class="menu-link"
      >Intro
      <svg viewBox="0 0 24 24" class="menu-link-icon">
        <path d="M9 18l6-6-6-6" /></svg
    ></a>
    <a href="#experiments" class="menu-link"
      >Experiments
      <svg viewBox="0 0 24 24" class="menu-link-icon">
        <path d="M9 18l6-6-6-6" /></svg
    ></a>
    <a href="#resume" class="menu-link"
      >Resume
      <svg viewBox="0 0 24 24" class="menu-link-icon">
        <path d="M9 18l6-6-6-6" /></svg
    ></a>
    <a href="#contact" class="menu-link"
      >Contact
      <svg viewBox="0 0 24 24" class="menu-link-icon">
        <path d="M9 18l6-6-6-6" /></svg
    ></a>
  </div>
</div>
