<div class="menu-overlay">
  <div class="menu-content">
    <a href="#intro" class="menu-link"
      >Intro <span class="menu-link-icon">&rarr;</span></a
    >
    <a href="#experiments" class="menu-link"
      >Experiments <span class="menu-link-icon">&rarr;</span></a
    >
    <a href="#resume" class="menu-link"
      >Resume <span class="menu-link-icon">&rarr;</span></a
    >
    <a href="#contact" class="menu-link"
      >Contact <span class="menu-link-icon">&rarr;</span></a
    >
  </div>
</div>
