.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 33vw;
  height: 100vh;
  z-index: 98;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: calc(0.5rem + clamp(1vh, 1vw, 99vw));
  width: 70%;
}

.menu-link {
  border-radius: calc(0.5rem + clamp(1.5vh, 1.5vw, 99vw));
  padding: calc(0.5rem + clamp(0.5vh, 0.5vw, 99dvw));
  background-color: var(--bg);
  font-size: calc(0.5rem + clamp(1.5vh, 1.5vw, 99vh));
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--fg);
  pointer-events: auto;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(0.5rem + clamp(3vh, 3vw, 99vw));
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--fg);
  color: var(--bg);
  transition: all 0.3s ease;
}

.menu-link:hover .menu-link-icon {
  transform: rotate(-35deg);
}
