main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background-color: var(--fg);
  opacity: 0;
  visibility: hidden;
}

.section-container {
  width: 100%;
  height: auto;
  overflow: visible;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: -1px;
}
