main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg);
  opacity: 0;
  visibility: hidden;
  transform-origin: top center;
}

.section-container {
  width: 100%;
  height: auto;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
