<header>
  <a href="/" class="logo"
    >Abdul Karim
    <svg
      viewBox="-10 -10 120 120"
      class="logo-icon"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path class="ak-line a-stem" d="M 50 20 L 22 33 V 70" />
      <path class="ak-line a-bar" d="M 22 51 H 42" />
      <path class="ak-line spine" d="M 50 20 V 85" />
      <path class="ak-line k-up" d="M 50 50 L 78 33" />
      <path class="ak-line k-down" d="M 50 50 L 78 70" /></svg
  ></a>
  <button class="menu-toggle">
    <div class="label-wrapper">
      <span class="open-label">Menu</span>
      <span class="close-label">Close</span>
    </div>
    <svg
      viewBox="0 0 100 60"
      class="menu-icon"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect class="bar-top" x="15" y="15" width="50" height="10" rx="5" />

      <rect class="bar-bottom" x="35" y="35" width="50" height="10" rx="5" />
    </svg>
  </button>
  <div class="overview-overlay">
    <div class="overview-content">
      <a href="#intro" class="overview-link"
        >Intro
        <svg viewBox="0 0 24 24" class="overview-link-icon">
          <path d="M9 18l6-6-6-6" /></svg
      ></a>
      <a href="#experiments" class="overview-link"
        >Experiments
        <svg viewBox="0 0 24 24" class="overview-link-icon">
          <path d="M9 18l6-6-6-6" /></svg
      ></a>
      <a href="#resume" class="overview-link"
        >Resume
        <svg viewBox="0 0 24 24" class="overview-link-icon">
          <path d="M9 18l6-6-6-6" /></svg
      ></a>
      <a href="#contact" class="overview-link"
        >Contact
        <svg viewBox="0 0 24 24" class="overview-link-icon">
          <path d="M9 18l6-6-6-6" /></svg
      ></a>
    </div>
  </div>
</header>
