header {
  position: fixed;
  top: -2dvh;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  z-index: 99;
  width: clamp(20dvh, 20dvw, 99dvw);
  height: 5dvh;
  display: flex;
  justify-content: center;
  background-color: var(--fg);
  border-radius: clamp(2dvh, 1dvw, 99dvw);
  opacity: 0;
  visibility: hidden;
}

header.overview {
  width: 97dvw;
  height: 100dvh;
}
