header {
  position: fixed;
  top: 1vh;
  z-index: 99;
  height: calc(1rem + clamp(3vh, 1.5vw, 99vw));
  aspect-ratio: 2.3 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fg);
  border-radius: calc(0.5rem + clamp(1vh, 0.5vw, 99vw));
  opacity: 0;
  visibility: hidden;
}

.menu-toggle {
  width: 100%;
  background: none;
  border: none;
  aspect-ratio: 2.3 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  opacity: 0;
  visibility: hidden;
}

.menu-icon {
  overflow: visible;
  height: calc(0.5rem + 20%);
  fill: var(--bg);
  transition: transform 0.5s ease;
}

.text {
  font-size: calc(0.5rem + clamp(1vh, 0.5vw, 99vw));
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.menu-toggle:hover .menu-icon {
  transform: rotate(-270deg);
}
