<section id="intro">
  <div class="background">
    <div class="accent-bar one"></div>
    <div class="accent-bar two"></div>
    <div class="accent-bar three"></div>
    <div class="text-wrapper">
      <p class="small-text space-bottom">Hello there, I am a</p>
      <p class="large-text space-left space-bottom">Front-end</p>
      <p class="large-text">Developer.</p>
    </div>
    <div class="reveal-wrapper first-reveal">
      <p class="small-text">I like to create</p>
      <p class="large-text space-left space-bottom">Appealing</p>
      <p class="large-text">Interfaces.</p>
    </div>
    <div class="reveal-wrapper second-reveal">
      <p class="small-text space-bottom">While keeping</p>
      <p class="large-text space-left space-bottom">Performance</p>
      <p class="large-text">Intact.</p>
    </div>
    <div class="reveal-wrapper third-reveal">
      <p class="small-text space-bottom">Still here?</p>
      <p class="large-text space-left space-bottom">Dive into</p>
      <p class="large-text">the details.</p>
    </div>
  </div>
</section>
