@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg: rgb(10, 10, 10);
  --bg2: rgb(30, 30, 30);
  --fg: rgb(230, 230, 230);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Exo 2", Verdana, Geneva, Tahoma, sans-serif;
}
