@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg: rgb(240, 245, 249);
  --fg: rgb(30, 32, 34);
  --surface: rgb(201, 214, 223);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--fg);
  font-family: "Exo 2", Verdana, Geneva, Tahoma, sans-serif;
}
