@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg: rgb(10, 10, 10);
  --fg: rgb(230, 230, 230);
  --section-radius: calc(1rem + clamp(2vh, 2vw, 99vw));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--fg);
  font-family: "Exo 2", Verdana, Geneva, Tahoma, sans-serif;
}
